@import "tailwindcss";
/*
// Tailwind 4 should not be used with SASS, therefor SASS definitions should not use @apply: https://tailwindcss.com/docs/compatibility#sass-less-and-stylus
// However SCSS can be use full in addition in some cases (or of course instead of tailwind if this is what you prefer)
*/

/*
// Duplication of CSS variables because Tailwind v4 doesn't generate CSS variables anymore.
// This ensure we will be able to get CSS variables inside VueJS scss <style>.
*/
:root {
  /* Primitive colors */
  --color-white: hsl(0, 0%, 100%);
  --color-blue-100: hsl(198, 53%, 92%);
  --color-blue-800: hsl(196, 100%, 19%);
}

@theme {
  --color-white: var(--color-white);
  --color-blue-100: var(--color-blue-100);
  --color-blue-800: var(--color-blue-800);
}
