@import "tailwindcss";
/*
// Tailwind 4 should not be used with SASS, therefor SASS definitions should not use @apply: https://tailwindcss.com/docs/compatibility#sass-less-and-stylus
// However SCSS can be use full in addition in some cases (or of course instead of tailwind if this is what you prefer)
*/

/*
// Duplication of CSS variables because Tailwind v4 doesn't generate CSS variables anymore.
// This ensure we will be able to get CSS variables inside VueJS scss <style>.
*/
:root {
  /* Primitive colors */
  --color-white: hsl(0, 0%, 100%);

  /* I have generated manually theme colors with the help of https://colorffy.com/dark-theme-generator
  /** Theme primary colors */
  --clr-primary-a0: hsl(227, 71%, 76%);
  --clr-primary-a10: hsl(228, 71%, 78%);
  --clr-primary-a20: hsl(228, 71%, 81%);
  --clr-primary-a30: hsl(229, 70%, 84%);
  --clr-primary-a40: hsl(229, 71%, 87%);
  --clr-primary-a50: hsl(231, 70%, 89%);

  /** Theme surface colors */
  --clr-surface-a0: hsl(219, 62%, 14%);
  --clr-surface-a10: hsl(223, 33%, 22%);
  --clr-surface-a20: hsl(225, 21%, 31%);
  --clr-surface-a30: hsl(228, 14%, 40%);
  --clr-surface-a40: hsl(228, 10%, 50%);
  --clr-surface-a50: hsl(228, 10%, 59%);
}

@theme {
  --color-white: var(--color-white);
}
